@extends('layouts.app')

@section('title', 'Edit {Name}')

@include('{view}.form', [
    'title' => 'Edit {Name}',
    'action' => '{route}.update',
    'method' => 'PUT',
    'edit' => true,
    'button' => 'Save Changes',
])
